<h1>App Shell</h1>
<p>This demonstrates Angular MFE architecture using NX.</p>
<p>This is the app-shell. It uses routing to load 2 remote MFE apps.</p>
<p>All apps share a common UI Library that shows how to share UI components.</p>
<p>To see how the MFE's are loaded, open the Browser Dev Tools - Network - All tab. When you navigate to a remote MFE, you will see a script is loaded containing the run time MFE code from Webpack.</p>
<ul>
  <li><a routerLink="/">Home</a></li>
  <li><a routerLink="/app-one">App One</a></li>
  <li><a routerLink="/app-two">App Two</a></li>
</ul>
<router-outlet></router-outlet>
